@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/fonts.css";
@import "./base/typography.css";

@import "./layout/nav.css";
@import "./layout/hero.css";
@import "./layout/section.css";
@import "./layout/footer.css";

@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/forms.css";
@import "./components/lightbox.css";

@import "./pages/home.css";
@import "./pages/mariage.css";
@import "./pages/portfolio.css";
@import "./pages/contact.css";
@import "./base/transition.css"; 